.title
{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    text-transform: uppercase;
    color: #cccccc;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 166.19%;
}
